/*
 * Empty Stylesheet file.
 */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #3c3c3c;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #96b946;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.saveBtn{
    -fx-font-size: 105%;    
    -fx-base: #5cb85c;
    -fx-text-fill: #fff;
    -fx-border-color: #4cae4c;
    -fx-border-radius:8;
    -fx-background-radius: 8;
}

.saveBtn:hover{
    -fx-base: #449d44;
    -fx-border-color: #398439;
}

.roundBtn{
    -fx-border-radius:10;
    -fx-background-radius: 10;
}